spring:
  config:
    import: optional:file:.env[.properties]

  application:
    name: tda-core

  datasource:
    url: jdbc:postgresql://localhost:5432/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate

  liquibase:
    change-log: classpath:db/changelog/master.xml

  web:
    resources:
      add-mappings: false

  security:
    user:
      name: ${APP_USERNAME}
      password: ${APP_PASSWORD}

server:
  port: 9000
  address: 0.0.0.0

webui:
  cors_url: ${APP_WEBUI_URL}