:root {
    --status-height: 40px;
}

#status {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 9999;

    padding: 8px 12px;
    min-height: var(--status-height);
    background: rgba(0, 0, 0, 0.75);
    color: #fff;

    text-align: left;
}

body {
    padding-bottom: calc(var(--status-height) + 8px);
}

#top-offset {
    margin-top: 80px;
}

#resume {
    padding: 10px;
}

.form-check {
    margin-bottom: 30px;
}
